<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Operaciones del Sistema</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th *ngFor="let header of headers">
                  {{header}}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let op of operaciones">
                  <td>{{op.name}}</td>
                  <td>{{op.description}}</td>
                  <td>{{op.type}}</td>
                  <td>
                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Editar usuario" class="btn btn-icon btn-icon-material  text-dark"><span
                        class="material-icons" style="color:orange;">create</span>
                    </button>
                    <button type="button"  title="Editar Accesos" class="btn btn-icon btn-icon-material text-dark">
                      <span class="material-icons" style="color: green;">preview</span>
                    </button>
                    <button type="button" title="Eliminar Usuario" class="btn btn-icon btn-icon-material text-dark">
                      <span class="material-icons" style="color: red;">delete</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>