<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Eliminar cuy</h5>
    <button type="button" class="btn-close" aria-label="Close"
            [disabled]="loading"
            (click)="dismiss()">
    </button>
</div>

<div class="modal-body" ngbAutofocus>
    <div class="row">
        <div class="col-12">
            <p>Esta acción no puede ser <strong>revertida</strong>. Se eliminará permanentemente el cuy con
                arete {{ cuy?.earring }}.
            </p>
            <p>Por favor escriba el arete <strong> {{ cuy?.earring }} </strong> del cuy para eliminarlo</p>
        </div>
    </div>

    <form [formGroup]="removeCuyF">
        <div class=" row">
            <div class="col-12">
                <input type="text" (keyup)="onKey($event)"
                       class="form-control"
                       id="exampleFormControlInput2"
                       formControlName="code"
                       placeholder="Código">
            </div>

        </div>
    </form>
</div>

<div class="modal-footer justify-content-between">
    <button type="button"
            class="btn btn-default"
            [disabled]="loading"
            (click)="close()">Cancelar
    </button>
    <app-button-loading [loading]="loading"
                        [disabled]="removeCuyF.invalid || code!==cuy?.earring"
                        [textOnNormal]="'Eliminar'"
                        [textOnLoading]="'Eliminando...'"
                        [containerClass]="'btn btn-danger'"
                        (buttonClick)="removeCuy()">
    </app-button-loading>
</div>
