<div class="modal-header">
    <h5 class="modal-title" *ngIf="!pool">Agregar poza</h5>
    <h5 class="modal-title" *ngIf="pool" id="modal-basic-title">Editar poza</h5>
    <button type="button" class="btn-close" aria-label="Close"
            [disabled]="loading"
            (click)="dismiss()">
    </button>
</div>

<div class="modal-body" ngbAutofocus>
    <form [formGroup]="poolF">
        <div class="mb-3 row">
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label">Galpón {{!pool ? '*' : '' }}</label>
                <input type="text"
                       class="form-control"
                       id="exampleFormControlInput1"
                       formControlName="shed"
                       [placeholder]="shed.name">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <div class="row">
                    <label for="exampleFormControlInput2"
                           class="col-4 col-form-label">Código {{!pool ? '*' : '' }}</label>

                    <div class="col-8">
                        <input type="text"
                               class="form-control"
                               id="exampleFormControlInput2"
                               formControlName="code"
                               placeholder="Código">
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <label for="xd" class="col-4 col-form-label">Tipo {{!pool ? '*' : '' }}</label>
                    <div class="col-8">
                        <select class="form-select form-control" formControlName="type" id="xd">
                            <option value="POZA">POZA</option>
                            <option value="JAULA">JAULA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-12">
                <label for="exampleFormControlInput3" class="form-label">Fase {{!pool ? '*' : '' }}</label>
                <input style="text-transform: uppercase" type="text"
                       class="form-control"
                       id="exampleFormControlInput3"
                       formControlName="phase">
            </div>
        </div>

        <div class="mb-3">
            <div class="col-12">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                <textarea class="form-control"
                          id="exampleFormControlTextarea1"
                          formControlName="description"
                          rows="3"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-between">
    <button type="button"
            class="btn btn-default"
            [disabled]="loading"
            (click)="close()">Cancelar
    </button>
    <button type="button"
            [disabled]="loading || poolF.invalid"
            class="btn btn-primary"
            (click)="saveShed()">
        <span *ngIf="pool">
            <div *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Actualizando...
            </div>
            <div *ngIf="!loading">
                Actualizar
            </div>
        </span>
        <span *ngIf="!pool">
            <div *ngIf="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Agregando...
            </div>
            <div *ngIf="!loading">
                Agregar
            </div>
        </span>
    </button>
</div>
